div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

div.clearboth { clear: both; }
.merosectitle{
	color: #262626;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.8em;
	width: 100%; text-align: center;
	margin-bottom:40px;
}