div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	padding-top: 2px;
	color:#486DAA;
}
#services {padding-top: 10px !important;}
.centeredp {width:100%; text-align: center; }